.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.addresses {
  position: relative;
  background-color: greenyellow;
}

.card-header {
  background-color: red;
}
