.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.addresses {
  position: relative;
  background-color: greenyellow;
}

.card-header {
  background-color: red;
}

summary {
  display: block;
}

summary::marker {
  display: none;
}

summary::-moz-list-bullet {
  list-style-type: none;
  display: none;
}

details > summary::before {
  content: " ";
  border: solid #939faa;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 0 8px 8px 0;
  transform: rotate(-45deg);
  position: absolute;
  margin-top: 2%;
  margin-right: -10%;
}

details[open] > summary::before {
  content: " ";
  border: solid #939faa;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 0 8px 8px 0;
  transform: rotate(45deg);
}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  padding: 5px;
  position: absolute;
  right: 0;
  margin-right: 3%;
  cursor: pointer;
}

.arrow.left::selection {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#input-text::-webkit-search-cancel-button {
    position:absolute;
    right:20px;  
  
    -webkit-appearance: none;
    height: 3em ;
    width: 3em ;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
}